@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Regular";
    src: url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
  }
  
  @font-face{
    font-family: "Light";
    src: url('./assets/fonts/Poppins-Light.ttf') format('ttf');
  }
  
  @font-face{
    font-family: "Bold";
    src: url('./assets/fonts/Poppins-Bold.ttf') format('ttf');
  }
  

  @layer base{
    body{
        @apply font-[Regular];
    }

    li{
        @apply px-4;
        @apply cursor-pointer;
        @apply text-white;
    }
  }

  .content-div{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    height:250px;

  }

  .content-div:hover{
    background-image:linear-gradient(
      to right,
      rgba(112,157,255,0.8),
      hsla(242,74%,61%,0.8)
    )!important;

  }